body {
  font-size: 16px;
}

.nav {
  background-color: white;
  border: 0px;
}

.nav a {
  color: black;
}

.test {
  color: white;
}
.jumbotron {
  margin-top: 0px;
  background-image: url('http://lorempixel.com/1900/600/city/1');
  background-size: cover;
  height: 500px;
  color: white;
}
.intro {
  color: black;
  padding-bottom: 30px;
}


#address {
  float: right;
}

.img-slide {
  height: 300px;
}
.img-col {
  max-height: 300px;
  width: 100%;
}

.row-map {
  height: 400px;
}

.map {
  height: 400px;
  width: 100%;
}

.highlight {
  color: red;
}
