.nav {
  background-color: white;
  border: 0px;
}

.nav a {
  color: black;
}

.test {
  color: white;
  background:rgba(0,0,0,0.5);
}
.jumbotron {
  margin-top: 0px;
  background-image: url('https://thumbs.trulia-cdn.com/pictures/thumbs_6/ps.96/a/0/3/3/picture-uh=d8c9b69e1591bd56391b73c9612ddb45-ps=a033839b47bce72e921684d42ed61e-719-N-Wallace-Ave-Bozeman-MT-59715.jpg');
  background-size: cover;
  height: 500px;
  color: black;
}
#intro {
  height: 300px;
  color: black;
}

#third-column {
  height: 200px;
}

#address {
  float: right;
}
